.sidebar {
  &-front-page {
    display: block;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    width: 263px;
  }
}

.widget {
  background-color: #fff;
  border-radius: 10px;

  &-title {
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
  }

  &-description {
    font-family: "Lato Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #c1f4f5;
    margin-bottom: 0;
  }

  &-link {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Lato Black", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 13px;
    border-top: 1px solid rgba(#ffffff, 0.75);

    &-icon {
      margin-right: 10px;
    }

    &:hover,
    &:visited {
      color: #fff;
    }
  }

  &-downloader {
    position: relative;
    background: #3bbdc4 url(../images/icon-file.svg) no-repeat top 22px right
      24px;
    color: #ffffff;
    padding: 25px;
    padding-bottom: 65px;
  }
}

.widget_tag_cloud {
  .widget-title {
    padding: 20px 0 19px 25px;
    font-family: "Lato Black", sans-serif;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #d9dadb;
    text-transform: uppercase;
  }
  .tagcloud {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 25px;
    padding-bottom: 35px;
  }

  .tag-cloud-link {
    text-decoration: none;
    font-family: "Lato Black", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #262d33;
    border: 1px solid #d9dadb;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.social-links-wrapper {
  list-style: none;
  margin: 0;
  padding: 25px 0 40px;
  display: flex;
  justify-content: center;

  li:not(:last-child) {
    margin-right: 10px;
  }
}

.social-widget {
  .widget-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
  }

  .widget-social-link {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;

    &-icon {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &-facebook {
      background-color: #4267b2;
    }

    &-twitter {
      background-color: #1da1f2;
    }

    &-youtube {
      background-color: #ff0000;
    }

    &-instagram {
      background-color: purple;
    }
  }
}
