@font-face {
  font-family: 'Lato Black';
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Regular';
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lato Regular', 'Arial', sans-serif;
  font-size: 14px;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screeen and (max-width: 800px) {
  .container {
    max-width: 576px;
  }
}

.post-header {
  padding: 60px 0px 72px;
  color: #fff;
}

.post-header-wrapper {
  position: relative;
}

.post-header-title-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.post-header-bookmark-icon {
  margin-top: 20px;
}

.post-header .post-excerpt {
  font-family: "Lato Regular", sans-serif;
  font-size: 18px;
  line-height: 30px;
  max-width: 632px;
  opacity: 0.85;
  margin-bottom: 43px;
}

.content-category-name {
  color: #4592ff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.content-category-name:visited, .content-category-name:hover {
  color: #4592ff;
}

.post-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header-nav .nav-links {
  min-width: 160px;
}

.post-header-nav .nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.post-header-nav .nav-links a:visited, .post-header-nav .nav-links a:hover {
  color: #ffffff;
}

.post-header-nav .post-navigation {
  margin: 0;
}

.post-home-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: auto;
  margin-right: 30px;
}

.post-home-link svg {
  margin-right: 8px;
}

.post-home-link:visited, .post-home-link:hover {
  color: #fff;
}

.post-nav-prev svg {
  margin-right: 8px;
}

.nav-next svg {
  margin-left: 8px;
}

.post-entry-title {
  max-width: 760px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 30px;
  margin-top: 0;
}

.post-entry-content {
  margin-top: 60px;
}

.post-entry-content div:first-of-type {
  max-width: 623px;
}

.post-entry-content a {
  color: #4592ff;
}

.post-entry-content a:first-of-type {
  max-width: 623px;
}

.post-entry-content h1,
.post-entry-content h2,
.post-entry-content h3,
.post-entry-content h4,
.post-entry-content h5,
.post-entry-content h6 {
  color: #262d33;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
}

.post-entry-content h1:first-of-type,
.post-entry-content h2:first-of-type,
.post-entry-content h3:first-of-type,
.post-entry-content h4:first-of-type,
.post-entry-content h5:first-of-type,
.post-entry-content h6:first-of-type {
  max-width: 623px;
}

.post-entry-content h1 {
  font-size: 30px;
}

.post-entry-content h2 {
  font-size: 25px;
  line-height: 30px;
}

.post-entry-content h3 {
  font-size: 22px;
}

.post-entry-content h4 {
  font-size: 20px;
}

.post-entry-content h5 {
  font-size: 18px;
}

.post-entry-content h6 {
  font-size: 16px;
}

.post-entry-content p {
  font-family: "Lato Regular", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #4b5157;
}

.post-entry-content p:first-of-type {
  max-width: 623px;
}

.post-entry-content p strong {
  color: #000;
}

.post-entry-content .has-drop-cap:not(:focus):first-letter {
  color: #4592ff;
  font-family: "Lato Black", sans-serif;
  font-size: 100px;
  line-height: 75px;
}

.post-entry-content ul,
.post-entry-content ol {
  padding: 0;
  margin-left: 20px;
  font-size: 16px;
  font-family: "Lato Regular", sans-serif;
  color: #4b5157;
}

.post-entry-content blockquote {
  margin-left: 0;
  margin-top: 80px;
  margin-bottom: 45px;
  position: relative;
}

.post-entry-content blockquote::before {
  position: absolute;
  content: "";
  background-image: url(../images/icon-quote.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 70px;
  height: 70px;
  z-index: -1;
  top: -20px;
  left: -20px;
}

.post-entry-content blockquote p {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262d33;
  margin-bottom: 20px;
}

.post-entry-content blockquote cite {
  font-family: Lato-Regular;
  font-style: italic;
  font-size: 18px;
  margin-top: 10px;
}

.post-entry-content figure {
  margin: 0 auto;
}

.post-entry-content iframe {
  width: 100%;
  border: 1px solid #c7c7c7;
}

.post-entry-content figcaption {
  text-align: center;
  margin: 0 auto;
  font-family: "Lato Regular", sans-serif;
  font-style: italic;
}

.post-entry-content figcaption strong {
  font-family: "Lato Black", sans-serif;
}

.post-header-info {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  opacity: 0.85;
}

.post-header-date {
  margin: 0;
  margin-right: 20px;
}

.post-header-likes {
  margin-right: 20px;
}

.tags-links a {
  text-decoration: none;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 15px;
  color: #262d33;
  border: 1px solid #d9dadb;
  border-radius: 5px;
  margin-right: 10px;
}

.post-header-author {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #d9dadb;
  min-width: 263px;
}

.post-header-author-author-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.post-header-author-info {
  color: #262d33;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 25px 20px;
}

.post-header-author-name {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.post-header-author-rank {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4b5157;
  margin-bottom: 15px;
}

.post-header-author-link {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #262d33;
  padding: 15px 25px;
  border-top: 1px solid #d9dadb;
  width: 100%;
  text-align: center;
}

.post-header-author-link:hover, .post-header-author-link:visited {
  color: #262d33;
}

.post-header-post-counter {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.header {
  padding: 15px 0;
}

.header-dark {
  background-color: #262d33;
}

.header-light {
  background-color: #fff;
}

.header-light .menu-item a {
  color: #c7c7c7;
  font-family: "Lato Black", sans-serif;
}

.header-light .search-form input {
  background: #f5f5f5;
}

.header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header-wrapper {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
}

@media screen and (max-width: 740px) {
  .header-wrapper {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .header-menu {
    padding-top: 30px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 740px) {
  .header-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: calc(40% + 40px);
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 5;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 0;
    margin-top: 0;
    box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
    padding: 20px 0;
  }
}

.header-menu-toggle {
  display: none;
}

@media screen and (max-width: 740px) {
  .header-menu-toggle {
    display: flex;
    width: 30px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .header-menu-toggle-light span {
    background-color: #000;
  }
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
}

@media screen and (max-width: 1200px) {
  .menu-item a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 740px) {
  .menu-item a {
    display: block;
    width: 100%;
    color: #262d33;
    padding: 10px 20px;
  }
}

.search-form {
  position: relative;
  width: 25%;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .search-form {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 740px) {
  .search-form {
    position: relative;
    margin-top: 30px;
    width: 100%;
    order: 3;
  }
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #656b70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 10%;
  top: 0;
  width: 25px;
  height: 40px;
  background-color: transparent;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.custom-logo {
  width: 40px;
  height: 40px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo-name {
  font-family: "Roboto Slab", sans-serif;
  font-size: 24px;
  margin-left: 10px;
}

.logo-name-dark {
  color: #fff;
}

.logo-name-light {
  color: #4592ff;
}

.home {
  background-color: #e5e5e5;
}

.front-page-header {
  padding-top: 30px;
  background-color: #262d33;
  position: relative;
  height: 475px;
}

@media screen and (max-width: 1024px) {
  .front-page-header {
    height: auto;
  }
}

.hero {
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: 10px;
  min-height: 570px;
  overflow: hidden;
  background-color: #fff;
}

.left-col {
  flex-basis: 75%;
  position: relative;
  overflow: hidden;
  padding: 55px 55px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 740px) {
  .left-col {
    padding: 35px 15px 50px;
  }
}

.left-col::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 64, 77, 0.4);
}

.left-col .post-thumbnail {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.left-col .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-col .post-categories a {
  color: #4592ff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.left-col .post-text {
  position: relative;
  z-index: 1;
}

.left-col .post-title {
  max-width: 595px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  margin: 20px 0 50px;
}

@media screen and (max-width: 740px) {
  .left-col .post-title {
    font-size: 28px;
    line-height: 120%;
  }
}

.right-col {
  flex-basis: 25%;
}

.right-col .post {
  margin: 0;
  padding: 17px 25px 19px 25px;
  border-top: 1px solid #d9dadb;
  list-style: none;
}

.right-col .post:hover {
  background-color: #f5f5f5;
}

.right-col .post-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.right-col .post-categories {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Lato Black", sans-serif;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.right-col .post-title {
  display: block;
  min-height: 40px;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0;
}

.right-col .post-permalink {
  color: #4b5157;
  text-decoration: none;
}

.right-col .post .web-design {
  color: #ffa34d;
}

.right-col .post .css {
  color: #3dc47e;
}

.right-col .post .javascript {
  color: #6e99ae;
}

.right-col .post .html {
  color: #ac8ee3;
}

.author {
  display: flex;
  align-items: center;
  margin-left: 10px;
  text-decoration: none;
}

.author-avatar {
  position: relative;
  z-index: 1;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.author-bio {
  margin-left: 10px;
  position: relative;
  z-index: 1;
}

.author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 2px;
}

.author-rank {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.read-more {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background-color: #4592ff;
  border: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-image: url(../images/button-arrow.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.read-more:visited {
  color: #fff;
}

.recommendations {
  margin: 20px 0 20px 25px;
  font-size: 14px;
  font-family: "Lato Black", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .right-col {
    flex-basis: 35%;
  }
}

@media screen and (max-width: 740px) {
  .hero {
    flex-direction: column;
  }
  .front-page-header {
    height: auto;
    padding-bottom: 30px;
  }
}

.article-list {
  margin: 0;
  padding: 0;
  margin-top: 180px;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #30363d;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .article-list {
    margin-top: 30px;
  }
}

.article-item {
  position: relative;
  width: 25%;
  display: flex;
  align-items: center;
  padding: 30px 25px 35px;
}

.article-item:not(:last-child)::after {
  content: "";
  height: 75px;
  width: 1px;
  background-color: #4B5157;
  display: block;
  position: absolute;
  right: 0;
}

.article-permalink {
  display: block;
  text-decoration: none;
  color: #fff;
  width: 155px;
}

.article-permalink:hover, .article-permalink:visited {
  color: #fff;
}

.article-title {
  margin: 0;
  margin-right: 15px;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .article-list {
    flex-wrap: wrap;
  }
  .article-item {
    width: 50%;
    padding: 25px;
    justify-content: space-between;
  }
  .article-permalink {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .article-list {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .article-item {
    width: 100%;
  }
}

.main-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px 0 60px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .main-grid {
    flex-wrap: wrap;
  }
  .main-grid .article-grid {
    width: 100%;
  }
}

.article-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 74%;
}

.article-grid-permalink, .article-grid-permalink:hover, .article-grid-permalink:visited {
  color: #262d33;
  text-decoration: none;
}

.article-grid-item {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  padding: 35px 35px 53px 35px;
  position: relative;
  margin-bottom: 30px;
}

.article-grid-item-1 .article-grid-thumbnail {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
}

.article-grid-item-1 .article-grid-category {
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #6e99ae;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.article-grid-item-1 .article-grid-title {
  width: 90%;
  margin-bottom: 25px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.article-grid-item-1 .article-grid-excerpt {
  width: 60%;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}

.article-grid-item-1 .article-grid-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 35px;
  border-top: 1px solid #d9dadb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.article-grid-item-1 .article-grid-author {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-author-name {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-1 .article-grid-author-name strong {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-1 .article-grid-author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-comments {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-comments-counter {
  margin-left: 10px;
  color: #939699;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.article-grid-item-2 {
  position: relative;
  background-color: transparent;
  margin-bottom: 30px;
  height: 400px;
}

.article-grid-item-2::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.article-grid-item-2 .article-grid-thumbnail {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
  z-index: 2;
}

.article-grid-item-2 .article-grid-tag {
  padding: 5px 12px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-transform: capitalize;
  background-color: #3dc47e;
  border-radius: 3px;
}

.article-grid-item-2 .article-grid-category {
  text-transform: uppercase;
  font-family: "Lato Black", sans-serif;
  color: #e7d9ff;
  font-size: 12px;
  line-height: 15px;
  margin-top: auto;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 27px;
}

.article-grid-item-2 .article-grid-date, .article-grid-item-2 .article-grid-comments, .article-grid-item-2 .article-grid-likes {
  opacity: 0.4;
}

.article-grid-item-2 .article-grid-date:not(:last-child), .article-grid-item-2 .article-grid-comments:not(:last-child), .article-grid-item-2 .article-grid-likes:not(:last-child) {
  margin-right: 7px;
}

.article-grid-item-2 .article-grid-comments-counter {
  margin-left: 5px;
}

.article-grid-item-2 .article-grid-author {
  display: flex;
  align-items: center;
  color: #fff;
}

.article-grid-item-2 .article-grid-author-name {
  flex-basis: 100%;
}

.article-grid-item-2 .article-grid-author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .article-grid-author-info-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
}

.article-grid-item-3 {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.article-grid-item-3 .article-grid-thumbnail {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.article-grid-item-3 .article-grid-title {
  margin: 0;
  width: 90%;
  padding: 15px 25px 35px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.article-grid-item-default {
  width: 47%;
  position: relative;
  background-color: #fff;
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  .article-grid-item-default {
    width: 100%;
  }
}

.article-grid-item-default .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.article-grid-item-default .article-grid-item-wrapper {
  margin: 0;
  padding: 20px 25px 20px;
}

.article-grid-item-default .article-grid-permalink {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-default .article-grid-title {
  margin: 0;
}

.article-grid-item-default .article-grid-excerpt {
  margin: 10px 0 30px;
  color: #4b5157;
}

.article-grid-item-default .article-grid-date {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding-left: 25px;
  padding-bottom: 15px;
  color: #939699;
  background-color: #fff;
}

@media screen and (min-width: 1025px) {
  .article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(2, min-content);
    grid-gap: 30px;
  }
  .article-grid-item:not(:last-of-type) {
    margin-bottom: 0;
  }
  .article-grid-item-1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .article-grid-item-2 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .article-grid-item-2 .article-grid-thumbnail {
    width: 100%;
    height: 100%;
  }
  .article-grid-item-3 {
    grid-area: 2 / 1 / 4 / 2;
  }
  .article-grid-item-default {
    width: 100%;
    margin: 0;
  }
}

.sidebar-front-page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  width: 263px;
}

@media screen and (max-width: 800px) {
  .sidebar-front-page {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}

.widget {
  background-color: #fff;
  border-radius: 10px;
}

.widget-title {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.widget-description {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #c1f4f5;
  margin-bottom: 0;
}

.widget-link {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
}

.widget-link-icon {
  margin-right: 10px;
}

.widget-link:hover, .widget-link:visited {
  color: #fff;
}

.widget-downloader {
  position: relative;
  background: #3bbdc4 url(../images/icon-file.svg) no-repeat top 22px right 24px;
  color: #ffffff;
  padding: 25px;
  padding-bottom: 65px;
}

.widget_tag_cloud .widget-title {
  padding: 20px 0 19px 25px;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #d9dadb;
  text-transform: uppercase;
}

.widget_tag_cloud .tagcloud {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 25px;
  padding-bottom: 35px;
}

.widget_tag_cloud .tag-cloud-link {
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262d33;
  border: 1px solid #d9dadb;
  border-radius: 5px;
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.social-links-wrapper {
  list-style: none;
  margin: 0;
  padding: 25px 25px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.social-links-wrapper li {
  margin-top: 8px;
}

.social-widget {
  margin-bottom: 0;
}

.social-widget .widget-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding-top: 25px;
}

.social-widget .widget-social-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.social-widget .widget-social-link-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.social-widget .widget-social-link-facebook {
  background-color: #4267b2;
}

.social-widget .widget-social-link-twitter {
  background-color: #1da1f2;
}

.social-widget .widget-social-link-youtube {
  background-color: #ff0000;
}

.social-widget .widget-social-link-instagram {
  background-color: #262626;
}

body {
  counter-reset: section;
}

.news-and-sidebar-wrapper {
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}

.news-and-sidebar-wrapper .widget-title {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px 25px;
  border-bottom: 1px solid #d9dadb;
}

.recent-posts-widget {
  margin-left: 30px;
  width: 263px;
}

.recent-posts-list {
  padding: 0 25px;
  margin: 0;
}

.recent-posts-item {
  list-style: none;
}

.recent-posts-item:not(:last-of-type) {
  border-bottom: 1px solid #d9dadb;
}

.recent-posts-permalink {
  padding: 17px 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.recent-posts-permalink::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  right: 5px;
  color: #262d33;
  opacity: 0.08;
  font-family: "Lato Black", sans-serif;
  font-style: italic;
  font-size: 70px;
  line-height: 50px;
}

.recent-posts-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.recent-posts-description {
  margin-left: 10px;
}

.recent-posts-title {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4b5157;
  margin: 0;
  padding-bottom: 5px;
}

.recent-posts-time {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  margin: 0;
}

.recent-posts-read-more {
  display: block;
  font-family: "Lato Black", sans-serif;
  text-align: center;
  text-decoration: none;
  padding-top: 11px;
  padding-bottom: 14px;
  border-top: 1px solid #d9dadb;
  color: #262d33;
}

.recent-posts-read-more:hover, .recent-posts-read-more:visited, .recent-posts-read-more:active {
  color: #262d33;
}

@media screen and (max-width: 1024px) {
  .news-and-sidebar-wrapper {
    flex-wrap: wrap;
  }
  .sidebar-front-page-bottom {
    width: 100%;
  }
  .recent-posts-widget {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .recent-posts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .recent-posts-item {
    width: 48%;
  }
}

@media screen and (max-width: 740px) {
  .recent-posts-list {
    display: block;
    margin-bottom: 0;
  }
  .recent-posts-item {
    width: 100%;
  }
  .news-and-sidebar-wrapper {
    margin-bottom: 0;
    margin-top: 30px;
  }
}

.investigation {
  padding: 50px 0px 55px;
  text-align: center;
}

.investigation-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  width: 946px;
  margin: 0 auto 25px;
}

.investigation-more {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background-color: #4592ff;
  border: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-image: url(../images/button-arrow.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.investigation-more:visited, .investigation-more:hover {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .investigation-title {
    width: auto;
    font-size: 32px;
    line-height: 140%;
  }
}

@media screen and (max-width: 740px) {
  .investigation-title {
    font-size: 24px;
  }
}

.news {
  padding: 0;
}

.news-list {
  margin: 0;
  padding: 0;
}

.news-post {
  list-style: none;
  margin: 0;
  padding: 25px;
  background-color: #fff;
}

.news-post:not(:last-of-type) {
  border-bottom: 1px solid #d9dadb;
}

.news-post:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.news-post:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.news-post-thumbnail {
  width: 336px;
  height: 195px;
  margin-right: 25px;
  object-fit: cover;
}

.news-post-permalink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.news-post-category {
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.news-post-title {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262d33;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.news-post-title:hover, .news-post-title:active, .news-post-title:visited {
  color: #262d33;
}

.news-post-excerpt {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4b5157;
  margin: 0;
  margin-bottom: 15px;
}

.news-post-info {
  display: flex;
  align-items: center;
  font-family: "Lato Regular", sans-serif;
  color: #939699;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}

.news-post-comments, .news-post-likes {
  display: flex;
  align-items: center;
}

.news-post-comments-icon, .news-post-likes-icon {
  margin-right: 5px;
}

.news-post-comments {
  margin-right: 11px;
}

.news-post-date {
  margin: 0;
  margin-right: 11px;
  padding: 0;
}

.news-post .news {
  color: #4592ff;
}

.news-post .news:hover, .news-post .news:active, .news-post .news:visited {
  color: #4592ff;
}

.news-post .opinion {
  color: #3bbdc4;
}

.news-post .opinion:hover, .news-post .opinion:active, .news-post .opinion:visited {
  color: #3bbdc4;
}

.news-post .hot {
  color: #ff4f52;
}

.news-post .hot:hover, .news-post .hot:active, .news-post .hot:visited {
  color: #ff4f52;
}

.news-post .recommended {
  color: #ac8ee3;
}

.news-post .recommended:hover, .news-post .recommended:active, .news-post .recommended:visited {
  color: #ac8ee3;
}

@media screen and (max-width: 740px) {
  .news-post-thumbnail {
    width: 100%;
  }
  .news-post-permalink {
    flex-wrap: wrap;
  }
  .news-post-category {
    margin-top: 15px;
  }
  .sidebar-front-page-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.special {
  background-color: #262d33;
  padding: 60px 0;
}

.special-grid {
  display: flex;
  justify-content: space-between;
}

.special-category-name {
  padding: 5px 12px;
  color: #fff;
  background-color: #3dc47e;
  border-radius: 3px;
  align-self: flex-start;
  text-decoration: none;
  font-size: 12px;
  font-family: "Lato Regular", sans-serif;
  line-height: 15px;
}

.special-category-name:hover, .special-category-name:visited {
  color: #fff;
}

.special-report-title {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

.special-button-photo {
  padding: 10px 20px;
  margin-bottom: 40px;
  background-color: #4592ff;
  color: #fff;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.special-button-photo svg {
  margin-right: 8px;
}

.special-button-photo:hover, .special-button-photo:visited {
  color: #fff;
}

.special-button-photo-counter {
  font-family: "Lato Regular", sans-serif;
  color: #c5e4fc;
  margin-left: 8px;
}

.special-photo-report {
  min-height: 570px;
  width: 48%;
  position: relative;
}

.special-photo-report::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35)), url(brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);
}

.special-photo-report .photo-report-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.special-photo-report .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special-author {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 18px;
}

.special-author-info {
  text-align: center;
  font-family: "Lato Regular", sans-serif;
  text-decoration: none;
}

.special-author-name {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.special-author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
  padding: 0;
  margin: 0;
  margin-top: 2px;
}

.special-author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.special-other {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.special-other .special-career {
  height: 62%;
  background-color: #b4d1e0;
  background-image: url(../images/bg-special-other-career.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
}

.special-other .special-career-permalink {
  text-decoration: none;
}

.special-other .special-career-category {
  color: #6e99ae;
  font-size: 12px;
  line-height: 15px;
  font-family: "Lato Black", sans-serif;
  text-transform: uppercase;
}

.special-other .special-career-title {
  color: #262d33;
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  width: 50%;
  margin-bottom: 0;
}

.special-other .special-career-excerpt {
  width: 50%;
  color: #4b5157;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.special-other .special-random {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.special-other .special-random-item {
  width: 47%;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  height: 170px;
}

.special-other .special-random-permalink {
  text-decoration: none;
}

.special-other .special-random-title {
  margin: 0;
  padding: 0;
  color: #262d33;
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.special-other .special-random-excerpt {
  color: #4b5157;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.special-other .special-random-date {
  color: #939699;
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 1024px) {
  .special-grid {
    flex-wrap: wrap;
  }
  .special-photo-report {
    width: 100%;
  }
  .special-other {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 740px) {
  .special-random {
    flex-wrap: wrap;
  }
  .special-other .special-random-item {
    width: 100%;
    margin-top: 30px;
  }
  .special-other .special-career {
    background-position: top 50px right -200px;
  }
}

.footer {
  padding: 60px 0 55px;
  background-color: #fff;
}

.footer-menu {
  border-top: 3px solid #000000;
  padding-right: 20px;
  flex-basis: 100%;
}

.footer-menu:nth-child(1) {
  border-top: 3px solid #ff4f52;
}

.footer-menu:nth-child(2) {
  border-top: 3px solid #ac8ee3;
}

.footer-menu:nth-child(3) {
  border-top: 3px solid #4592ff;
}

.footer-menu:nth-child(4) {
  border-top: 3px solid #ffa34d;
}

.footer-menu:nth-child(5) {
  border-top: 3px solid #3dc47e;
}

.footer-menu:nth-child(6) {
  border-top: 3px solid #6e99ae;
}

.footer-menu-bar {
  display: flex;
  align-items: flex-start;
  padding-bottom: 60px;
}

.footer-menu-title {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-menu .menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu .menu a {
  display: inline-block;
  color: #4b5157;
  margin: 0 0 15px;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.footer-info {
  padding: 30px 0;
  border-top: 1px solid #d9dadb;
  border-bottom: 1px solid #d9dadb;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-info .widget-social-link {
  margin-right: 8px;
}

.footer-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-info ul a {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262d33;
  text-transform: uppercase;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.footer-nav-wrapper {
  margin-right: auto;
}

.footer-text-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  margin: 40px 0;
}

.footer-text-wrapper .footer-menu {
  border-top: none;
}

.footer-copyright {
  text-align: right;
}

.footer .textwidget {
  margin-top: 0;
  margin-bottom: 25px;
}

@media screen and (max-width: 740px) {
  .footer-menu {
    flex-basis: auto;
    width: 100%;
  }
  .footer-menu-bar {
    flex-wrap: wrap;
  }
  .footer-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-nav {
    flex-wrap: wrap;
  }
  .social-widget {
    margin-top: 15px;
  }
}
