@font-face {
  font-family: 'Lato Black';
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Regular';
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lato Regular', 'Arial', sans-serif;
  font-size: 14px;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

.header {
  background-color: #262D33;
  padding: 15px 50px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
}

.search-form {
  position: relative;
  width: 270px;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 20px;
  top: 0;
  width: 25px;
  height: 40px;
  background-color: transparent;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.home {
  background-color: #e5e5e5;
}

.front-page-header {
  padding-top: 30px;
  background-color: #262d33;
  position: relative;
  height: 475px;
}

.hero {
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: 10px;
  min-height: 570px;
  overflow: hidden;
  background-color: #fff;
}

.left-col {
  flex-basis: 75%;
  position: relative;
  overflow: hidden;
  padding: 55px 55px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-col::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 64, 77, 0.4);
}

.left-col .post-thumbnail {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.left-col .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-col .post-categories a {
  color: #4592ff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.left-col .post-text {
  position: relative;
  z-index: 1;
}

.left-col .post-title {
  width: 595px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  margin: 20px 0 50px;
}

.right-col {
  flex-basis: 25%;
}

.right-col .post {
  margin: 0;
  padding: 17px 25px 19px 25px;
  border-top: 1px solid #d9dadb;
  list-style: none;
}

.right-col .post:hover {
  background-color: #f5f5f5;
}

.right-col .post-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.right-col .post-categories {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Lato Black", sans-serif;
}

.right-col .post-categories a {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.right-col .post-title {
  display: block;
  min-height: 40px;
  font-family: "Lato Regular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0;
}

.right-col .post-permalink {
  color: #4b5157;
  text-decoration: none;
}

.author {
  display: flex;
  align-items: center;
  margin-left: 10px;
  text-decoration: none;
}

.author-avatar {
  position: relative;
  z-index: 1;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.author-bio {
  margin-left: 10px;
  position: relative;
  z-index: 1;
}

.author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 2px;
}

.author-rank {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.read-more {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background-color: #4592ff;
  border: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-image: url(../images/button-arrow.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.read-more:visited {
  color: #fff;
}

.recommendations {
  margin: 20px 0 20px 25px;
  font-size: 14px;
  font-family: "Lato Black", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.article-list {
  margin: 0;
  padding: 0;
  margin-top: 180px;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #30363d;
  border-radius: 10px;
}

.article-item {
  position: relative;
  width: 25%;
  display: flex;
  align-items: center;
  padding: 30px 25px 35px;
}

.article-item:not(:last-child)::after {
  content: "";
  height: 75px;
  width: 1px;
  background-color: #4B5157;
  display: block;
  position: absolute;
  right: 0;
}

.article-permalink {
  display: block;
  text-decoration: none;
  color: #fff;
  width: 155px;
}

.article-permalink:hover, .article-permalink:visited {
  color: #fff;
}

.article-title {
  margin: 0;
  margin-right: 15px;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-grid {
  margin: 30px 0;
  padding: 0;
  list-style: none;
  display: grid;
  max-width: 850px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content repeat(2, min-content);
  grid-gap: 30px;
}

.article-grid-permalink, .article-grid-permalink:hover, .article-grid-permalink:visited {
  color: #262d33;
  text-decoration: none;
}

.article-grid-item {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  padding: 35px 35px 53px 35px;
  grid-area: 1 / 1 / 2 / 3;
  position: relative;
}

.article-grid-item-1 .article-grid-thumbnail {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
}

.article-grid-item-1 .article-grid-category {
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #6e99ae;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.article-grid-item-1 .article-grid-title {
  width: 90%;
  margin-bottom: 25px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.article-grid-item-1 .article-grid-excerpt {
  width: 60%;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}

.article-grid-item-1 .article-grid-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 35px;
  border-top: 1px solid #d9dadb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.article-grid-item-1 .article-grid-author {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-author-name {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 390px;
  white-space: no-wrap;
  overflow: hidden;
}

.article-grid-item-1 .article-grid-author-name strong {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-1 .article-grid-author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-comments {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-comments-counter {
  margin-left: 10px;
  color: #939699;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.article-grid-item-2 {
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  background-color: transparent;
}

.article-grid-item-2::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.article-grid-item-2 .article-grid-thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
  z-index: 2;
}

.article-grid-item-2 .article-grid-tag {
  padding: 5px 12px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-transform: capitalize;
  background-color: #3dc47e;
  border-radius: 3px;
}

.article-grid-item-2 .article-grid-category {
  text-transform: uppercase;
  font-family: "Lato Black", sans-serif;
  color: #e7d9ff;
  font-size: 12px;
  line-height: 15px;
  margin-top: auto;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 27px;
}

.article-grid-item-2 .article-grid-date, .article-grid-item-2 .article-grid-comments, .article-grid-item-2 .article-grid-likes {
  opacity: 0.4;
}

.article-grid-item-2 .article-grid-date:not(:last-child), .article-grid-item-2 .article-grid-comments:not(:last-child), .article-grid-item-2 .article-grid-likes:not(:last-child) {
  margin-right: 7px;
}

.article-grid-item-2 .article-grid-comments-counter {
  margin-left: 5px;
}

.article-grid-item-2 .article-grid-author {
  display: flex;
  align-items: center;
  color: #fff;
}

.article-grid-item-2 .article-grid-author-name {
  flex-basis: 100%;
}

.article-grid-item-2 .article-grid-author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .article-grid-author-info-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
}

.article-grid-item-3 {
  grid-area: 2 / 1 / 4 / 2;
  margin: 0;
  padding: 0;
}

.article-grid-item-3 .article-grid-thumbnail {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.article-grid-item-3 .article-grid-title {
  margin: 0;
  width: 90%;
  padding: 15px 25px 35px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.article-grid-item-default {
  position: relative;
  background-color: #fff;
}

.article-grid-item-default .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.article-grid-item-default .article-grid-item-wrapper {
  margin: 0;
  padding: 20px 25px 20px;
}

.article-grid-item-default .article-grid-permalink {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-default .article-grid-title {
  margin: 0;
}

.article-grid-item-default .article-grid-excerpt {
  margin: 5px 0 30px;
  color: #4b5157;
}

.article-grid-item-default .article-grid-date {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding-left: 25px;
  padding-bottom: 15px;
  color: #939699;
  background-color: #fff;
}
